PORT=3344
NODE_ENV=production
SESSION_SECRET=change_me_super_secret_session_key
# Si vide, un code est généré automatiquement et affiché dans les logs du serveur
CONSOLE_CODE=
GITHUB_REPO=overnode-network/OvernodeApp
GITHUB_TOKEN=

